[submodule "Flight-Service"]
	path = Flight-Service
	url = https://github.com/AkilSabir2203/Flight-Service
[submodule "Flight-Booking-Service"]
	path = Flight-Booking-Service
	url = https://github.com/AkilSabir2203/Flight-Booking-Service
